@model IEnumerable<bankingSolution.Models.EF.BranchInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrCity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BrNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BrNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
